* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
header {
  background: rgba(118, 198, 189, 255);
  height: 70px;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.logo {
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-right: 300px;
  margin-left: 15px;
}

nav ul {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  line-height: 70px;
  margin-right: 25px;
}

nav ul li a {
  color: white;
  font-size: 17px;
}

a.active,
a:hover {
  font-weight: bold;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
@media (max-width: 800px) {
  nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin-right: 100px;
  }

  .checkbtn {
    display: inline;
    margin-right: 20px;
  }

  nav ul {
    position: absolute;
    top: 70px;
    width: 100%;
    background: rgba(118, 198, 189, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left: -100%;
    transition: 0.5s;
  }

  nav ul li {
    margin-top: 40px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
